.categories_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories_list {
    display: flex;
    & li {
        margin-right: 10px;
        border: 1px grey solid;
        border-radius: 15px;
        background-color: rgb(224, 220, 220);
        padding: 5px 15px;
        cursor: pointer;
    }
}
.active {
    background-color: black !important;
    color: white;
}

.categories_sort {
    margin-right: 50px;
    position: relative;
    & span {
        text-decoration: underline;
        color: burlywood;
        &:hover {
            cursor: pointer;
        }
    }
    & li {
        text-decoration: underline;
        color: burlywood;
        &:hover {
            cursor: pointer;
            color: blue;
        }
    }
}
.popup {
    position: absolute;
    right: 0;
    background-color: rgb(88, 83, 83);
    & ul {
        text-align: center;
        margin: 10px 0 ;
        padding: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 881px) {
    
}

@media (min-width: 882px) and (max-width: 991px) {
    
}

@media (max-width: 767px) {
    
}

@media (max-width: 480px) {
    .categories_list {
        flex-wrap: wrap;
        & li {
            margin-bottom: 10px;
        }
    }
    .popup {
        width: 100px;
    }
}