a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header_logo_block {
    max-width: 418px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.header_input_block {
    position: relative;
    margin: 0 20px;
    & img {
        position: relative;
        top: 8px;
        right: 30px;
    }
}

.header_input {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    padding-left: 5px;
}

.header_cart_block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border: 2px solid transparent;
    border-radius: 15px;
    background-color: rgba(63, 30, 210, 0.904);
    margin-right: 30px;
    color: white;
}

.header_cart_divider {
    width: 4px;
    height: 15px;
    background-color: rgb(175, 47, 47);
    margin: 0 3px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .header_logo_block {
        font-size: 16px;
}}

@media (min-width: 768px) and (max-width: 881px) {
    .header_logo_block {
        font-size: 14px;
}
    .header_input_block {
    & img {
        position: relative;
        top: -27px;
        right: -85px;
    }
}
}

@media (min-width: 882px) and (max-width: 991px) {
    .header_logo_block {
        font-size: 14px;
}
}

@media (max-width: 767px) {
    .header_logo_block {
        font-size: 14px;
}
.header_input_block {
    & img {
        position: relative;
        top: -27px;
        right: -85px;
    }
}
}

@media (max-width: 480px) {
    header {
        display: block;
    }
    .header_logo_block {
        font-size: 14px;
}
.header_input_block {
    display: inline-block;
    & img {
        position: relative;
        top: 8px;
        right: 30px;
    }
}
.header_cart_block_wrapper{
    display: inline-block;
}
.header_cart_block {
    width: 100px;
    height: 28px;
}
}