.pizzas_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    // display: grid;
    // grid-template-columns: repeat(minmax(370px, 1fr));
    // grid-template-columns: repeat(auto-fit, 250px);
    // grid-gap: 20px;
    // grid-auto-rows: auto;
}

.pizza {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    transition: all ease-in-out 0.3s;
    &:hover {
        transform: translateY(-5px);
    }
}

.pizza_title {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
}

.pizza_options {
    width: 100%;
    border: 1px solid rgb(184, 182, 182);
    border-radius: 10px;
    background-color: rgb(216, 204, 204);
    margin: 20px;
    padding: 5px;
    &.active {
        background: #ffffff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
        border-radius: 5px;
        cursor: auto;
    }
}

.pizza_options_types {
    display: flex;
    & div {
        flex: 1;
        border: 1px solid rgb(184, 182, 182);
        border-radius: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        cursor: pointer;
        &:nth-last-child(1) {
            margin-right: 0;
        }
    }    
}

.pizza_options_sizes {
    display: flex;
    & div {
        flex: 1;
        border: 1px solid rgb(184, 182, 182);
        border-radius: 5px;
        margin-right: 5px;
        cursor: pointer;
        &:nth-last-child(1) {
            margin-right: 0;
        }
    }
}

.pizza_price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pizza_price_value {
    font-size: 20px;
    line-height: 20px;
}

.pizza_price_button {
    width: 120px;
    border: 1px solid red;
    border-radius: 10px;
    color: orange;
    background-color: #ffffff;
    cursor: pointer;
}